html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    @extend %Nova-extra-800;
    color: #000;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
