$header: #436372;
$hover: #a3bbc8;
$footer: #7b7b7b;
$title: #191919;
$border: #f6f6f6;

%Nova-Reg-400 {
    font-family: "ProximaNova-Regular";
    font-weight: 400;
}
%Nova-bold-700 {
    font-family: "ProximaNova-Bold";
    font-weight: 700;
}
%Nova-extra-700 {
    font-family: "ProximaNova-Extrabld";
    font-weight: 800;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}
