@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "media";
@import "global";

.header {
    min-height: 78px;
    box-shadow: 3.927px 0.763px 11.7px 1.3px rgba(0, 0, 0, 0.11);
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-right: 58px;
        @extend %Nova-bold-700;
        &:last-child {
            margin-right: 0;
        }
    }
}

// background for sections -----------------------------
.main {
    background-image: url("../images/bg.svg");
    background-repeat: no-repeat;
    position: relative;
    background-size: auto;
    background-position: top 450px left 200px;
    // &::after {
    //     content: "";
    //     position: absolute;
    //     background-image: url("../images/bg.svg");
    //     width: 544px;
    //     height: 2139px;
    //     background-repeat: no-repeat;
    // }
}
// background for sections end-----------------------------

.howdy {
    margin-top: 72px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__text-wprap {
        margin-top: 85px;
        max-width: 475px;
    }
    &__title {
        font-size: 50px;
        line-height: 60px;
        & span {
            color: #e21a20;
        }
    }
    &__text {
        max-width: 415px;
        @extend %Nova-bold-700;
    }
    &__text-img {
        margin-top: 47px;
        @extend %Nova-bold-700;
    }
    &__img {
        margin-left: 30px;
        margin-top: 8px;
    }
    &__img-wrap {
        display: flex;
        justify-content: space-between;
        margin-right: 60px;
    }
    &__img-front {
        margin-top: 43px;
        margin-right: 41px;
        font-size: 20px;
    }
}

.mailchimp {
    margin-top: 266px;
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__text {
        color: #007c89;
        font-size: 19px;
        @extend %Nova-Reg-400;
        margin-bottom: 9px;
    }
    &__title {
        font-size: 35px;
        max-width: 228px;
        line-height: 30px;
        margin-bottom: 19px;
    }
    &__link {
        font-size: 19px;
        @extend %Nova-Reg-400;
        border-bottom: 4px solid #007c89;
    }
}

.skills {
    margin-top: 317px;
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__pict {
        position: relative;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/elips-blue.svg");
            width: 470px;
            height: 413px;
            top: 27px;
            right: -149px;
            z-index: -1;
        }
    }
    &__img {
        margin-left: 70px;
    }
    &__text {
        max-width: 80px;
        font-size: 35px;
        margin-right: 200px;
    }
}

.team {
    margin-top: 295px;
    margin-bottom: 218px;
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__text {
        font-size: 35px;
        margin-left: 120px;
        max-width: 80px;
    }
    &__pict {
        margin-right: 90px;
        position: relative;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/elips-comp.svg");
            width: 498px;
            height: 369px;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}

.slider {
    &__inner {
        min-width: 0;
    }
    &__title {
        text-align: center;
        font-size: 28px;
        margin-bottom: 52px;
    }
    &__img {
        max-width: 100%;
    }
    &__item {
        display: flex;
        position: relative;
    }
    &__text-1 {
        position: absolute;
        bottom: 0px;
        left: 61px;
        font-size: 28px;
    }
    &__text-2 {
        position: absolute;
        bottom: -46px;
        left: 77px;
        font-size: 28px;
    }
    &__text-3 {
        position: absolute;
        bottom: -44px;
        left: 90px;
        font-size: 28px;
    }
}
.slick-slider {
    min-width: 0;
}
.slick-track {
    display: flex;
    align-items: flex-start;
}
.slick-list {
    overflow: hidden;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%; // выравнивание по вертикали
    margin: -15px 0 0 0; // корректировка  вертикального выравнивания
    z-index: 2; // стрелки сверху картинок
    font-size: 0; // убираем надпись на дефолтной стрелке
    width: 30px; // ширина стрелки
    height: 30px; // высота стрелки
}
.slider .slick-arrow.slick-prev {
    left: 0; // левая стрелка остается с левой стороны слайдера
    background: url("../images/arrow-right.svg") 0 0 / 100% no-repeat;
    transform: rotate(-180deg);
}

.slider .slick-arrow.slick-next {
    right: 0; // правая стрелка переместилась справа от слайдера
    background: url("../images/left-arrow.svg") 0 0 / 100% no-repeat;
}

.contacts {
    margin-top: 205px;
    margin-bottom: 170px;
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 117px;
    }
    &__title,
    &__email,
    &__phone {
        font-size: 28px;
        margin-bottom: 35px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-right: 50px;
    }
    &__wrap {
        max-width: 377px;
    }
    &__wrap-title {
        font-size: 28px;
        margin-bottom: 8px;
    }
    &__wrap-text {
        font-size: 21px;
        margin-bottom: 20px;
        @extend %Nova-Reg-400;
        color: #10080a;
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 336px;
    }
    &__form-add,
    &__subjuct-wrap {
        margin-bottom: 10px;
    }
    &__form-email {
        margin-right: 17px;
    }
    &__form-email,
    &__form-phone {
        max-width: 157px;
        width: 100%;
        border: none;
        border-bottom: 1px solid;
    }
    &__form-text {
        resize: none;
    }
    &__form-email,
    &__form-phone,
    &__form-subjuct,
    &__form-text {
        border: none;
        border-bottom: 1px solid;
        padding: 0 5px 5px 4px;
        font-size: 18px;
        @extend %Nova-Reg-400;
        &::placeholder {
            @extend %Nova-Reg-400;
            color: #000;
        }
    }
    &__form-subjuct {
        max-width: 376px;
        width: 100%;
    }
    &__form-btn {
        margin-top: 15px;
        font-size: 18px;
        cursor: pointer;
    }
}

.footer {
    min-height: 171px;
    border-top: 1px solid #959595;

    &__inner {
        display: flex;
        align-items: center;
        margin-top: 35px;
        margin-left: 61px;
    }

    &__pict {
        margin-top: 13px;
    }

    &__social {
        display: flex;
        align-items: center;
        margin-left: 93px;
    }

    &__linkendin {
        height: 45px;
        width: 45px;
        margin-right: 36px;
    }
    &__insta {
        height: 41px;
        width: 41px;
        margin-top: 3px;
    }
}

@import "media";
